# Exercise 1: Create a Jupyter Notebook

Here we Create a new Jupyter notebook called DataScienceEcosystem.ipynb

# Exercise 2: Create markdown cell with title of the notebook

#   Data Science Tools and Ecosystem
Notebook Title

# Exercise 3 - Create a markdown cell for an introduction

# Introduction :

 In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 4 - Create a markdown cell to list data science languages

###   Some of the popular languages that Data Scientists use are:
###   1-PYTHON
###   2-R  Language
###   3-SQL
###   4-JAVA
###   5-SCALA
###   6-JULIA

# Exercise 5 - Create a markdown cell to list data science libraries

###  Some of the commonly used libraries used by Data Scientists include :
###   1-Pandas
###   2-Numpy
###   3-Matplotlib
###   4-Seaborn
###   5-Scikit-learn
###   6-Keras
###   7-Tensorflow
###   8-Pytorch

# Exercise 6 - Create a markdown cell with a table of Data Science tools

In [6]:
import pandas as pd
df=pd.DataFrame({"Data Science Tools ":["Jupyter","R Studio","Watson studio"]})
df

  Data Science Tools
0             Jupyter
1            R Studio
2       Watson studio

# Exercise 7 - Create a markdown cell introducing arithmetic expression

TITLE With H3 is in a below cell after this cell:

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
(160+4)-14

150

# Exercise 8 - Create a code cell to multiply and add numbers

###  This a simple arithmetic  expression to mutiply then add integers.

In [8]:
###  This a simple arithmetic  expression to mutiply then add integers.
(3*4)+5.

17.0

# Exercise 9 - Create a code cell to convert minutes to hours

###   This will convert 200  minutes to hours by diving by 60

In [9]:
# This will convert 200  minutes to hours by diving by 60
200/60

3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives

# Introduction

In [10]:
 In this notebook, Data Science Tools and Ecosystem are summarized.

SyntaxError: invalid syntax (675825864.py, line 1)

# Objectives:

In this final assignment, you will:

- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

#### In this notebook, Data Science Tools and Ecosystem andSome of the popular languages  are summarized  as below:
###   1- JUPYTER NOTEBOOK Or JUPYTER LAB
###   2-R  STUDIO
###   3-ANACONDA
###   4-SPYDER
###   5-WATSON STUDIO

In [ ]:
import pandas as pd
df=pd.DataFrame({"Num√©ro":[1,2,3], "Data science Language":["Python","R Language ","Java,Scala and others"],
                 "Open Source Developpement Environment":["Jupyter","R Studio","Watson studio"]})
df

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author Name :

 KPADONOU  Jean-Marie

# Exercise 12 - Share your notebook through GitHub

the Git hub link or url is below: https://github.com/Jean-Timmy/Gitstata.git

# Exercise 13 - Take a screenshot of the first page of the notebook.

Here we take a screenshot of the first page of the notebook and save it as 1-notebook.png