# Exercise 1: Create a Jupyter Notebook

Here we Create a new Jupyter notebook called DataScienceEcosystem.ipynb

# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 4 - Create a markdown cell to list data science languages

In [6]:
dalanguage="Some of the popular languages that Data Scientists use are:"
mastr="Python  R  Java"
print(dalanguage)
print(mastr.split())

Some of the popular languages that Data Scientists use are:
['Python', 'R', 'Java']

# Exercise 5 - Create a markdown cell to list data science libraries

In [7]:
str="Some of the commonly used libraries used by Data Scientists include:"
dalib="Pandas,Numpy, Matplotlib,Seaborn, Scikit-Learn,keras,   Tensorflow and Pytorch"
print(str)
print(dalib.split())

Some of the commonly used libraries used by Data Scientists include:
['Pandas,Numpy,', 'Matplotlib,Seaborn,', 'Scikit-Learn,keras,', 'Tensorflow', 'and', 'Pytorch']

# Exercise 6 - Create a markdown cell with a table of Data Science tools

In [8]:
import pandas as pd
df=pd.DataFrame({"Data Science Tools ":["Jupyter","R Studio","Watson studio"]})
df

  Data Science Tools
0             Jupyter
1            R Studio
2       Watson studio

# Exercise 7 - Create a markdown cell introducing arithmetic expression

TITLE With H3 is in a below cell after this cell:

### Below are a few examples of evaluating arithmetic expressions in Python.

Evaluating Basic Arithmetic Expression

In [10]:
(160+4)-14

150

# Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic  expression to mutiply then add integers.

In [11]:
(3*4)+5.

17.0

# Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200  minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives

In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate
3 to 5 items covered in this notebook, such as List popular languages for Data Science.

In [5]:
import pandas as pd
df=pd.DataFrame({"Numéro":[1,2,3], "Data science Language":["Python","R Language ","Java,Scala and others"],
                 "Open Source Developpement Environment":["Jupyter","R Studio","Watson studio"]})
df

   Numéro  Data science Language Open Source Developpement Environment
0       1                 Python                               Jupyter
1       2            R Language                               R Studio
2       3  Java,Scala and others                         Watson studio

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author in H2 style heading

In this markdown cell markdown cell include the following text Author in H2 style heading.
Include your name as regular text below the word Author.

## Author Name : KPADONOU  Jean-Marie

# Exercise 12 - Share your notebook through GitHub

the Git hub link or url is below:

# Exercise 13 - Take a screenshot of the first page of the notebook.

All screenshot about each exercise from 1 to 13 is avalaible by the zip download at our github link given above

# GIT MASTER BRANCH

All screenshot about each exercise from 1 to 13 is avalaible by the master branch and sourcecode at our github link given above